{% extends '_layouts/main' %}

{% set pageClass = 'news' %}

{% block content %}

{# ------------------------------------
INTRO CONTENT
------------------------------------ #}
<section class="section section--padded">
	<div class="section__in">
		<h1 class="content__heading">{{ entry.heading }}</h1>

		{% if entry.summary|length %}
		<div class="content__summary">
			{{ entry.summary | md }}
		</div>
		{% endif %}

		<div class="news__listing">
		{% for item in craft.entries({
			section: 'news',
			limit: 10
		}) %}
			{% include 'news/_item' %}
		{% endfor %}
		</div>
	</div>
</section>


{% endblock %}
