{% extends "_layouts/main" %}

{% set title = error404.heading %}
{% set seomaticMeta = seomaticMeta | merge({'seoTitle': title}) %}

{% block content %}
<section class="section section--padded">
	<div class="section__in">
		<h1>{{ title }}</h1>
	
		{{ error404.copy | md }}
	</div>
</section>
{% endblock %}
