// --------------------------------------------------------------------------
// headings

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-sans(800);
}

h1 {
	@include typi($h1-map);

	margin: vr(3) 0 vr(1);
	line-height: 1.2;
}

h2 {
	@include typi($h2-map);

	margin: vr(2) 0 vr(1);

	text-transform: uppercase;

	h1 + & {
		margin-top: vr(-1);
	}
}

h3 {
	@include typi($h3-map);
	margin: vr(2) 0 vr(1);

	h1 + &,
	h2 + & {
		margin-top: vr(-1);
	}
}

h4 {
	@include typi($h4-map)
	margin: vr(1) 0 vr(1);

	h1 + &,
	h2 + &,
	h3 + & {
		margin-top: vr(-1);
	}
}

h5 {
	@include typi($h5-map);
	margin: vr(1) 0 vr(1);

	h1 + &,
	h2 + &,
	h3 + &,
	h4 + & {
		margin-top: vr(-1);
	}
}
