<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
	{# NOTE: svg logo goes here if available #}

	<symbol id="svg__download" viewBox="0 0 16 16">
		<title>Download</title>
		<path d="M13.341 3.579c-0.347-0.473-0.831-1.027-1.362-1.558s-1.085-1.015-1.558-1.362c-0.806-0.591-1.197-0.659-1.421-0.659h-6.75c-0.689 0-1.25 0.561-1.25 1.25v3.75l0.5 11 0.5-11v-3.75c0-0.135 0.115-0.25 0.25-0.25 0 0 6.749-0 6.75 0v3.5c0 0.276 0.224 0.5 0.5 0.5h3.5l0.5 11 0.5-11c0-0.224-0.068-0.615-0.659-1.421zM10 4v-2.405c0.359 0.278 0.792 0.654 1.271 1.134s0.856 0.912 1.134 1.271h-2.406z"></path>
		<path d="M9 7h-3v5h-2.5l4 4 4-4h-2.5z"></path>
	</symbol>

	<symbol id="svg__phone" viewBox="0 0 16 16">
		<title>Phone</title>
		<path d="M11 10c-1 1-1 2-2 2s-2-1-3-2-2-2-2-3 1-1 2-2-2-4-3-4-3 3-3 3c0 2 2.055 6.055 4 8s6 4 8 4c0 0 3-2 3-3s-3-4-4-3z"></path>
	</symbol>

	<symbol id="svg__fax" viewBox="0 0 16 16">
		<title>Fax</title>
		<path d="M4 1h8v2h-8v-2z"></path>
		<path d="M15 4h-14c-0.55 0-1 0.45-1 1v5c0 0.55 0.45 1 1 1h3v4h8v-4h3c0.55 0 1-0.45 1-1v-5c0-0.55-0.45-1-1-1zM2 7c-0.552 0-1-0.448-1-1s0.448-1 1-1 1 0.448 1 1-0.448 1-1 1zM11 14h-6v-5h6v5z"></path>
	</symbol>

	<symbol id="svg__envelope" viewBox="0 0 16 16">
		<title>Envelope</title>
		<path d="M15 2h-14c-0.55 0-1 0.45-1 1v10c0 0.55 0.45 1 1 1h14c0.55 0 1-0.45 1-1v-10c0-0.55-0.45-1-1-1zM14 4v0.719l-6 3.536-6-3.536v-0.719h12zM2 12v-5.54l6 3.536 6-3.536v5.54h-12z"></path>
	</symbol>

	<symbol id="svg__paper-plan" viewBox="0 0 16 16">
		<title>Paper Plane</title>
		<path fill="#000000" d="M7 11l6.151 2.195 2.849-12.459zM5 10.311l11-9.575-16 7.913zM7 12.062v3.938l2.902-2.902z"></path>
	</symbol>

	<symbol id="svg__vcard" viewBox="0 0 16 16">
		<title>vcard</title>
		<path d="M14 3h-12c-1.1 0-2 0.9-2 2v7c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-7c0-1.1-0.9-2-2-2zM2 12c0-2.209 1.119-4 2.5-4-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5c1.381 0 2.5 1.791 2.5 4h-5zM14 12h-5v-1h5v1zM14 10h-5v-1h5v1zM14 8h-5v-1h5v1z"></path>
	</symbol>

	<symbol id="svg__plus" viewBox="0 0 16 16">
		<title>Plus</title>
		<path d="M15.5 6h-5.5v-5.5c0-0.276-0.224-0.5-0.5-0.5h-3c-0.276 0-0.5 0.224-0.5 0.5v5.5h-5.5c-0.276 0-0.5 0.224-0.5 0.5v3c0 0.276 0.224 0.5 0.5 0.5h5.5v5.5c0 0.276 0.224 0.5 0.5 0.5h3c0.276 0 0.5-0.224 0.5-0.5v-5.5h5.5c0.276 0 0.5-0.224 0.5-0.5v-3c0-0.276-0.224-0.5-0.5-0.5z"></path>
	</symbol>

	<symbol id="svg__minus" viewBox="0 0 16 16">
		<title>Minus</title>
		<path d="M0 6.5v3c0 0.276 0.224 0.5 0.5 0.5h15c0.276 0 0.5-0.224 0.5-0.5v-3c0-0.276-0.224-0.5-0.5-0.5h-15c-0.276 0-0.5 0.224-0.5 0.5z"></path>
	</symbol>

	<symbol id="svg__cancel" viewBox="0 0 16 16">
		<title>Cancel</title>
		<path d="M13.957 3.457l-1.414-1.414-4.543 4.543-4.543-4.543-1.414 1.414 4.543 4.543-4.543 4.543 1.414 1.414 4.543-4.543 4.543 4.543 1.414-1.414-4.543-4.543z"></path>
	</symbol>

	{# ARROWS
	---------------------------------------------------- #}
	<symbol id="svg__arrow-up" viewBox="0 0 16 16">
		<title>Arrow Up</title>
		<path d="M0 10.5l2 2 6-6 6 6 2-2-8-8-8 8z"></path>
	</symbol>

	<symbol id="svg__arrow-right" viewBox="0 0 16 16">
		<title>Arrow Right</title>
		<path d="M5.5 0l-2 2 6 6-6 6 2 2 8-8-8-8z"></path>
	</symbol>

	<symbol id="svg__arrow-down" viewBox="0 0 16 16">
		<title>Arrow Down</title>
		<path d="M16 5.5l-2-2-6 6-6-6-2 2 8 8 8-8z"></path>
	</symbol>

	<symbol id="svg__arrow-left" viewBox="0 0 16 16">
		<title>Arrow Left</title>
		<path d="M10.5 16l2-2-6-6 6-6-2-2-8 8 8 8z"></path>
	</symbol>

	{# SOCIAL ICONS
	---------------------------------------------------- #}
	<symbol id="svg__facebook" viewBox="0 0 16 16">
		<title>Facebook</title>
		<path d="M9.5 3h2.5v-3h-2.5c-1.93 0-3.5 1.57-3.5 3.5v1.5h-2v3h2v8h3v-8h2.5l0.5-3h-3v-1.5c0-0.271 0.229-0.5 0.5-0.5z"></path>
	</symbol>

	<symbol id="svg__twitter" viewBox="0 0 16 16">
		<title>Twitter</title>
		<path d="M16 3.538c-0.588 0.263-1.222 0.438-1.884 0.516 0.678-0.406 1.197-1.050 1.444-1.816-0.634 0.375-1.338 0.65-2.084 0.797-0.6-0.638-1.453-1.034-2.397-1.034-1.813 0-3.281 1.469-3.281 3.281 0 0.256 0.028 0.506 0.084 0.747-2.728-0.138-5.147-1.444-6.766-3.431-0.281 0.484-0.444 1.050-0.444 1.65 0 1.138 0.578 2.144 1.459 2.731-0.538-0.016-1.044-0.166-1.488-0.409 0 0.013 0 0.028 0 0.041 0 1.591 1.131 2.919 2.634 3.219-0.275 0.075-0.566 0.116-0.866 0.116-0.212 0-0.416-0.022-0.619-0.059 0.419 1.303 1.631 2.253 3.066 2.281-1.125 0.881-2.538 1.406-4.078 1.406-0.266 0-0.525-0.016-0.784-0.047 1.456 0.934 3.181 1.475 5.034 1.475 6.037 0 9.341-5.003 9.341-9.341 0-0.144-0.003-0.284-0.009-0.425 0.641-0.459 1.197-1.038 1.637-1.697z"></path>
	</symbol>

	<symbol id="svg__linkedin" viewBox="0 0 16 16">
		<title>LinkedIn</title>
		<path d="M6 6h2.767v1.418h0.040c0.385-0.691 1.327-1.418 2.732-1.418 2.921 0 3.461 1.818 3.461 4.183v4.817h-2.885v-4.27c0-1.018-0.021-2.329-1.5-2.329-1.502 0-1.732 1.109-1.732 2.255v4.344h-2.883v-9z"></path>
		<path d="M1 6h3v9h-3v-9z"></path>
		<path d="M4 3.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5c0-0.828 0.672-1.5 1.5-1.5s1.5 0.672 1.5 1.5z"></path>
	</symbol>

	<symbol id="svg__youtube" viewBox="0 0 16 16">
		<title>YouTube</title>
		<path d="M15.841 4.8c0 0-0.156-1.103-0.637-1.587-0.609-0.637-1.291-0.641-1.603-0.678-2.237-0.163-5.597-0.163-5.597-0.163h-0.006c0 0-3.359 0-5.597 0.163-0.313 0.038-0.994 0.041-1.603 0.678-0.481 0.484-0.634 1.587-0.634 1.587s-0.159 1.294-0.159 2.591v1.213c0 1.294 0.159 2.591 0.159 2.591s0.156 1.103 0.634 1.588c0.609 0.637 1.409 0.616 1.766 0.684 1.281 0.122 5.441 0.159 5.441 0.159s3.363-0.006 5.6-0.166c0.313-0.037 0.994-0.041 1.603-0.678 0.481-0.484 0.637-1.588 0.637-1.588s0.159-1.294 0.159-2.591v-1.213c-0.003-1.294-0.162-2.591-0.162-2.591zM6.347 10.075v-4.497l4.322 2.256-4.322 2.241z"></path>
	</symbol>

	<symbol id="svg__vimeo" viewBox="0 0 16 16">
		<title>Vimeo</title>
		<path d="M15.994 4.281c-0.072 1.556-1.159 3.691-3.263 6.397-2.175 2.825-4.016 4.241-5.522 4.241-0.931 0-1.722-0.859-2.366-2.581-0.431-1.578-0.859-3.156-1.291-4.734-0.478-1.722-0.991-2.581-1.541-2.581-0.119 0-0.538 0.253-1.256 0.753l-0.753-0.969c0.791-0.694 1.569-1.388 2.334-2.081 1.053-0.909 1.844-1.387 2.372-1.438 1.244-0.119 2.013 0.731 2.3 2.553 0.309 1.966 0.525 3.188 0.647 3.666 0.359 1.631 0.753 2.447 1.184 2.447 0.334 0 0.838-0.528 1.509-1.588 0.669-1.056 1.028-1.862 1.078-2.416 0.097-0.912-0.262-1.372-1.078-1.372-0.384 0-0.778 0.088-1.184 0.263 0.787-2.575 2.287-3.825 4.506-3.753 1.641 0.044 2.416 1.109 2.322 3.194z"></path>
	</symbol>

	<symbol id="svg__pinterest" viewBox="0 0 16 16">
		<title>Pinterest</title>
		<path d="M8 1.069c-3.828 0-6.931 3.103-6.931 6.931 0 2.938 1.828 5.444 4.406 6.453-0.059-0.547-0.116-1.391 0.025-1.988 0.125-0.541 0.813-3.444 0.813-3.444s-0.206-0.416-0.206-1.028c0-0.963 0.559-1.684 1.253-1.684 0.591 0 0.878 0.444 0.878 0.975 0 0.594-0.378 1.484-0.575 2.306-0.166 0.691 0.344 1.253 1.025 1.253 1.231 0 2.178-1.3 2.178-3.175 0-1.659-1.194-2.819-2.894-2.819-1.972 0-3.128 1.478-3.128 3.009 0 0.597 0.228 1.234 0.516 1.581 0.056 0.069 0.066 0.128 0.047 0.2-0.053 0.219-0.169 0.691-0.194 0.787-0.031 0.128-0.1 0.153-0.231 0.094-0.866-0.403-1.406-1.669-1.406-2.684 0-2.188 1.587-4.194 4.578-4.194 2.403 0 4.272 1.712 4.272 4.003 0 2.388-1.506 4.313-3.597 4.313-0.703 0-1.362-0.366-1.588-0.797 0 0-0.347 1.322-0.431 1.647-0.156 0.603-0.578 1.356-0.862 1.816 0.65 0.2 1.337 0.309 2.053 0.309 3.828 0 6.931-3.103 6.931-6.931 0-3.831-3.103-6.934-6.931-6.934z"></path>
	</symbol>

	<symbol id="svg__instagram" viewBox="0 0 32 32">
		<title>Instagram</title>
		<path d="M16,2.9c4.3,0,4.8,0,6.5,0.1c1.6,0.1,2.4,0.3,3,0.6c1.4,0.5,2.5,1.6,3,3C28.7,7.1,29,8,29,9.5
			c0.1,1.7,0.1,2.2,0.1,6.5s0,4.8-0.1,6.5c-0.1,1.6-0.3,2.4-0.6,3c-0.5,1.4-1.6,2.5-3,3c-0.6,0.2-1.4,0.5-3,0.6
			c-1.7,0.1-2.2,0.1-6.5,0.1s-4.8,0-6.5-0.1c-1.6-0.1-2.4-0.3-3-0.6c-1.4-0.5-2.5-1.6-3-3C3.3,24.9,3,24,3,22.5
			c-0.1-1.7-0.1-2.2-0.1-6.5s0-4.8,0.1-6.5C3,8,3.3,7.1,3.5,6.6c0.3-0.7,0.7-1.3,1.2-1.8c0.5-0.5,1.1-0.9,1.8-1.2C7.1,3.3,8,3,9.5,3
			C11.2,2.9,11.7,2.9,16,2.9 M16,0c-4.3,0-4.9,0-6.6,0.1S6.5,0.4,5.5,0.8c-1.1,0.4-2,1-2.8,1.8C1.9,3.5,1.2,4.5,0.8,5.5
			c-0.4,1-0.7,2.2-0.7,3.9S0,11.6,0,16s0,4.9,0.1,6.6c0.1,1.7,0.4,2.9,0.7,3.9c0.8,2.1,2.5,3.8,4.7,4.7c1,0.4,2.2,0.7,3.9,0.7
			S11.7,32,16,32s4.9,0,6.6-0.1c1.7-0.1,2.9-0.4,3.9-0.7c2.1-0.8,3.8-2.5,4.7-4.7c0.4-1,0.7-2.2,0.7-3.9C32,20.9,32,20.3,32,16
			s0-4.9-0.1-6.6s-0.4-2.9-0.7-3.9c-0.4-1.1-1-2-1.8-2.8c-0.8-0.8-1.8-1.4-2.8-1.8c-1-0.4-2.2-0.7-3.9-0.7S20.3,0,16,0"/>
		<path d="M16,7.8c-4.5,0-8.2,3.7-8.2,8.2s3.7,8.2,8.2,8.2s8.2-3.7,8.2-8.2S20.5,7.8,16,7.8C16,7.8,16,7.8,16,7.8
			 M16,21.3c-2.9,0-5.3-2.4-5.3-5.3s2.4-5.3,5.3-5.3s5.3,2.4,5.3,5.3S18.9,21.3,16,21.3"/>
		<path d="M26.5,7.5c0,1.1-0.9,1.9-1.9,1.9s-1.9-0.9-1.9-1.9s0.9-1.9,1.9-1.9l0,0C25.6,5.5,26.5,6.4,26.5,7.5"/>
	</symbol>
</defs>
</svg>
