// --------------------------------------------------------------------------
// utility mixins

@mixin underline($color, $alpha: .7, $position: .94em) {
	@include background-image(linear-gradient(rgba(0,0,0,0) 50%, rgba($color, $alpha) 50%));
	background-size: 4px 4px;
	background-repeat: repeat-x;
	background-position: 0 $position;
}

@mixin setColors($color: $clr-off-white, $bgColor: $clr-grey-900, $setLinkProps: true, $linkColor: $clr-off-white, $linkHoverColor: $clr-white, $underline: true) {
	background-color: $bgColor;
	color: $color;

	@if $setLinkProps {
		a {
			color: $linkColor;
			
			@if $underline {
				text-decoration: underline;
			}

			&:focus,
			&:hover {
				color: $linkHoverColor;
			}
		}
	}
}

@mixin setDarkBg($bgColor: $clr-grey-900) {
	@include setColors($clr-off-white, $bgColor);
}
