{% extends '_layouts/main' %}

{% block content %}

{# ------------------------------------
INTRO CONTENT
------------------------------------ #}
<section class="section">
	<div class="section__in">
		<h1>{{ entry.title }}</h1>
		
		{{ entry.copy | md }}

		<a href="#" class="button go">Learn more</a>
	</div>
</section>


{% endblock %}

